files:
  "/etc/nginx/conf.d/client_max_body_size.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 128M;
commands:
  command1:
    command: "sudo service nginx restart"
container_commands:
  container_command1:
    command: "sudo service nginx restart"
