LABEL {
	cursor: pointer;
}

.progress-bar {
	width: 0%;
}

.imgContainer IMG {
	max-width: 100%;
}

.pictureWrap {
	position: relative;
}

.pictureWrap .btnDel {
	position: absolute;
	bottom: 4px;
	left: 4px;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 768px) {
	.container.content {
		width: 50%;
	}
}

.uploadProfileImage {
	position: absolute;
	bottom: 2px;
	left: 6px;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.titleBorder {
	border-bottom: 1px solid #16435377;
}

.uploadPictureWrap {
	width: 100px;
	height: 100px;
}