.chatroom {
	height: calc(100% - 66px - 60px);
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	margin-top: 66px;
	left: 0;
	right: 0;
	-webkit-overflow-scrolling: touch;
}

.chatroomWrapper {
	height: 100%;
	border-left: 2px solid #F3F3F3;
	border-right: 2px solid #F3F3F3;
}

.chatHistory {
	min-height: 100%;
}

.chatroomHeader {
	height: 60px;
}

#chatInputWrapper {
	border-top: 1px solid #F3F3F3;
}

.maxWidth80 {
	max-width: 80%;
}

.femaleResponseBtn {
	position: fixed;
	bottom: 65px;
	left: 0;
	right: 0;
}

TEXTAREA#chatInput {
	height: 38px;
	resize: none;
}