body{
        overflow: hidden;
        background: #E9ECEF;
}

.floatBtn {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999;
        bottom: 98px;
}

.floatWrap {
	background: #E9ECEFAA;
}

.bgBlack {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
}

.maxWidth80 {
        max-width: 80%;
}

.wordBreak {
        word-break: break-word;
}

.wordBreak P {
        margin-bottom: 0;
}

.conversationWrap {
	border-bottom: 1px solid #252f4055;
}

.conversationWrap.active {
        background: #CE796B;
        color: #FFF !important;
}

.conversationWrap.active A {
        color: #FFF !important;
}

#listContent {
        overflow-x: hidden;
}

.nav-tabs {
        border: none;
}

.nav-item>A:hover {
        border: none;
}

.nav-tabs .nav-link {
        border: none;
        transition: none;
}

.content {
        overflow: hidden;
        height: 20px;
}

.nav-link .notSeen {
        background: #D63384;
        color: white;
}

.nav-link.active .notSeen {
        background: white;
        color: #D63384;
}

.list{
        padding-top: 45px;
        background-color: #DDD5;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        white-space: normal;
        height: 100%;
}

.list.shadow {
	background: #E9ECEF;
}

.messages {
        flex: 1 1 auto;
        min-height: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 5px 0px 40px;
        z-index: 1;
}

.inputContainer {
	position: relative;
	margin: 5px 10px 0px 10px;
}

.textareaBox {
	height: 87px;
}

.sendContainer {
	display: grid;
	grid-template-columns: auto 7vh;
	padding: 9px 2px;
	background: #FFFB;
	border-radius: 50px;
}

.textareaContainer {
        overflow: hidden;
}

.inputContainer textarea {
	border: none;
	outline: none;
	font-size: 16px;
	resize: none;
	overflow-y: scroll;
	width: 100%;
	height: 5vh;
	box-sizing: content-box;
	margin-left: 15px;
	background: transparent;
	color: #164353;
}

.chatContainer {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
}

.chatNavbar {
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
}

.chatHeader {
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.customerBtnWrap {
	position: absolute;
	top: -60px;
	right: 13px;
	z-index: 999;
}

.customerBtn{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        box-shadow: 2px 2px 3px #999;
}

.showFromTheSide {
        display: block !important;
        position: absolute;
        z-index: 1045;
        height: 100%;
        width: 75%;
        transition: all 0.8s;
}

.showSideBar, .hideSideBar {
        width: 20px;
        height: 50px;
        margin: auto;
        line-height: 50px;
        border-radius: 0 10px 10px 0;
        z-index: 1000;
}

.hideSideBar {
        right: -20px;
}

.userAlert {
        width: 300px;
        z-index: 999;
}

.carousel-cell {
	width: 100%;
	height: 525px;
	border-radius: 30px;
	background: #DC9386;
}

.carousel-cell.king:nth-of-type(1) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://d2wqx6u4nuhgzp.cloudfront.net/IMAGE/kingChat1.jpg");
}

.carousel-cell.king:nth-of-type(2) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://d2wqx6u4nuhgzp.cloudfront.net/IMAGE/kingChat2.jpg");
}

.carousel-cell.king:nth-of-type(3) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://d2wqx6u4nuhgzp.cloudfront.net/IMAGE/kingChat3.jpg");
}

.guidance {
	position: fixed;
	color: #FFF;
	width: 45px;
	height: 45px;
	bottom: 130px;
	right: 8px;
	border-radius: 50px;
	z-index: 9999;
	cursor: pointer;
}

a.guidance:hover {
	color: #FFF;
}

#guide .modal-content {
	background: transparent;
}

.guideTitle {
	border: 1px solid #fff;
	padding: 4px 8px;
}

.flickity-page-dots {
	bottom: 10px;
}

.flickity-page-dots .dot {
	background: #164353;
	width: 8px;
	height: 8px;
}

#guide .modal-dialog {
	width: 305px;
	margin: 0 auto;
}

.closeGuidance {
	z-index: 9;
	right: 11px;
	position: absolute;
}

.kingGuide {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}

.kingGuideSlogan {
	color: white;
	font-size: 1.5rem;
}

.kingFirstStep {
	padding: 6px;
	border: 1px solid #FFF;
}

.kingGuideContent {
	background: #DC9386CC;
	margin: 0 10px 10px;
	border-radius: 20px;
	padding: 15px;
}

.queenSlogan {
	border: 1px solid #FFF;
	padding: 7px 12px;
}

.smallIcon {
	background: white;
	width: 40px;
	height: 40px;
	margin: 2px 4px;
	border-radius: 8px;
	font-family: ScriptMTBold, Script MT;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 300px) {
        .userAlert {
                width: 280px;
        }
}

.height60 {
        height: 60px;
}

@media (max-width: 991.9px) {
        .list {
                padding-top: 47.7px;
        }
	.chatList>.list {
		padding-top: 8px;
	}
}

@media (min-width: 992px){
        .list {
                padding-top: 51px;
        }
}

@media (max-width: 319px) {
	#guide .modal-dialog {
		width: 100vw;
	}
}