HTML, BODY{
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}

INPUT, TEXTAREA {
	font-size: initial;
}

.announcement, .inbox {
	padding: 0 5px;
	vertical-align: sub;
}

.fontSize22 {
	font-size: 22px;
}

.fontSize25 {
	font-size: 25px;
}

.fontSize35 {
	font-size: 35px;
}

.fontSize50 {
	font-size: 50px;
}

.text-pink {
	color: #D63384;
}

.text-yellow {
	color: #FF8C00;
}

@media (max-width: 991.98px){
	.dropdown.nav-item .dropdown-menu-animation {
		transition: all .35s ease-in;
	}

	.dropdown.nav-item .dropdown-menu-animation.show {
		height: auto;
		overflow: hidden;
	}
}

