HTML, BODY{
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}

INPUT, TEXTAREA {
	font-size: initial;
}

.announcement {
	padding: 0 5px;
	vertical-align: top;
}

.inbox {
	padding: 0 5px;
	vertical-align: top;
}