INPUT[type="checkbox"] {
	display: none;
}

LABEL.tag {
	border: 1px solid #C36554;
	padding: 5px 10px;
	border-radius: 10px;
	color: #C36554;
}

:checked + LABEL.tag {
	background: #C36554;
	color: white;
}