SECTION.searchArea {
	border-bottom: 7px solid #164353;
	padding: 8px;
	background: #16435322;
	border-radius: 10px;
}

.slider.slider-horizontal {
        width: 100%;
}

.slider.slider-horizontal .slider-track {
        height: 6px;
}

#slider-div > div {
        margin-top: 15px;
}

.slider-handle {
	background: #DC9386;
	width: 25px;
	height: 16px;
}

.sliderLabel {
        position: absolute;
        top: -19px;
        font-size: 14px;
}

.slider-selection {
	background: #DC938699;
}

@media (min-width: 1080px) {
        SECTION.searchArea, .filterResult {
                width: 900px;
                margin: 0 auto !important;
        }
}