SECTION.searchArea {
        border-bottom: 3px solid rgb(214, 51, 132);
        padding: 8px;
        background: rgba(214, 51, 132, 0.05);
}

.slider.slider-horizontal {
        width: 100%;
}

.slider.slider-horizontal .slider-track {
        height: 10px;
}

#slider-div > div {
        margin-top: 15px;
}

.slider-handle {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(214, 51, 116)), to(rgb(214, 51, 132)));
        width: 20px;
        height: 20px;
}

.sliderLabel {
        position: absolute;
        top: -19px;
        font-size: 14px;
}

.slider-selection {
        background-image: linear-gradient(to bottom, #D6338B88, #D6338B88);
}

@media (min-width: 1080px) {
        SECTION.searchArea, .filterResult {
                width: 900px;
                margin: 0 auto !important;
        }
}