.scrollTopFloatBtn {
        border-radius: 15px;
        bottom: 157px;
        width: 45px;
        height: 45px;
        right: 11px;
        box-shadow: 2px 2px 3px #999 !important;
        z-index: 9999;
}

.modal {
        z-index: 9999;
}

.wrap::-webkit-scrollbar {
        display: none;
}

INPUT[type="radio"] {
        display: none;
}

LABEL.tag {
        border: 1px solid #FFFFFF;
        padding: 3px 7px;
        border-radius: 10px;
        color: #FFFFFF;
        margin: 0 0 0 5px;
        cursor: pointer;
}

INPUT[type="radio"]:checked + LABEL.tag {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        color: #252F40;
}

.sort {
        width: 50%;
        text-align: center;
        color: #D63384;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 2px solid #EE609C;
        border-radius: 10px 10px 0px 0px;
}

.sort.active{
        background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
        color: white;
}

.posts {
        display: flex;
        flex-direction: column;
}

.post {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 30px;
        box-shadow: 1px 1px 5px #dfdfdf;
}

.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
}

.header .left {
        display: flex;
        justify-content: center;
        align-items: center;
}

.avatar {
        width: 50px;
        height: 50px;
        border-radius: 25px;
}

.addPost .avatar {
        width: 35px;
        height: 35px;
        border-radius: 25px;
}

.username {
        font-weight: 600;
}

.post .content {
        padding: 15px;
        font-weight: 400;
}

.post .content IMG {
        width: 100%;
}

.postFooter {
        padding: 15px;
        border-radius: 0 0 15px 15px;
}

.more {
        border-bottom: 1px solid;
}

p {
        margin-bottom: 0 !important;
}

.article {
        overflow: hidden;
        margin-bottom: 8px;
}

::placeholder {
        color: white !important;
}

TEXTAREA.commentTextarea {
        background: transparent;
        resize: none;
        border: 1px solid white;
        border-radius: 30px;
        height: 55px;
        padding: 5px 45px 5px 20px;
}

TEXTAREA.editCommentTextarea {
        background: transparent;
        resize: none;
        border: 1px solid white;
        height: 55px;
        padding: 5px 5px 5px 10px;
}

TEXTAREA.commentTextarea:focus,
TEXTAREA.editCommentTextarea:focus {
        background: transparent;
}

.addPostTextarea {
        background: transparent;
        resize: none;
        border: none;
        padding: 0;
}

INPUT.addPostTextarea {
        border-bottom: 1px solid white;
        border-radius: 0;
}

.addPostTextarea:focus {
        background: transparent;
        box-shadow: none;
}

.addPostTextarea::-webkit-scrollbar,
.commentTextarea::-webkit-scrollbar,
.editCommentTextarea::-webkit-scrollbar {
        display: none;
}

.addIcon {
        top: 10px;
        left: 23px;
}

.commentBtn {
        position: absolute;
        right: 11px;
        top: 14px;
        color: #FFFFFF;
}

.commentMeta {
        color: #FFFFFFC1;
}

.btn-link:disabled {
        color: #FFFFFF99 !important;
}

.hashtags {
        padding-left: 15px;
}

.carousel{
        margin:0px auto 20px;
}

.slick-dots {
        bottom: -35px;
}

.slick-slide{
        margin: 5px;
}

.single img {
        object-fit: cover;
}

.imgContainer .delBtn {
        position: absolute;
        top: 4px;
        right: 4px;
        cursor: pointer;
        margin: 0;
        padding: 0;
}

.imgContainer IMG {
        width: 120px;
        height: 120px;
        object-fit: cover;
        cursor: pointer;
}

.lightBox {
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: rgba(0,0,0,0.5);
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 100000;
}

IMG.lightBoxImg {
        margin: auto;
        width: 500px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -250px;
        margin-top: -250px;
}

.lightBoxClose{
        font-size: 50px;
        position: absolute;
        top: 20px;
        right: 40px;
        color: white;
        cursor: pointer;
}

@media (max-width: 576px) {
        .imgContainer IMG {
                width: 100px;
                height: 100px;
        }
        IMG.lightBoxImg {
                width: 380px;
                margin-left: -190px;
                margin-top: -190px;
        }
}

@media (max-width: 400px) {
        .imgContainer IMG {
                width: 80px;
                height: 80px;
        }
        IMG.lightBoxImg {
                width: 300px;
                margin-left: -150px;
                margin-top: -150px;
        }
}

.dropdown-item:hover, .dropdown-item:focus {
        background-color: #FFFFFF55;
        font-weight: bold;
}

.blurImg {
	width: 50px;
	height: 50px;
	background-size: cover;
	filter: blur(3.1px);
	border-radius: 50%;
}