.wrap::-webkit-scrollbar {
        display: none;
}

.posts {
        display: flex;
        flex-direction: column;
}

.post {
        width: 100%;
        border-radius: 15px;
        margin-top: 30px;
        box-shadow: 1px 1px 5px #dfdfdf;
}

.post .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
}

.post .header .left {
        display: flex;
        justify-content: center;
        align-items: center;
}

.avatar {
        width: 50px;
        height: 50px;
        border-radius: 25px;
}

.username {
        font-weight: 600;
}

.post .content {
        padding: 15px;
        font-weight: 400;
}

.post .content IMG {
        width: 100%;
}

.postFooter {
        padding: 15px;
        border-radius: 0 0 15px 15px;
        background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);;
}

.more {
        border-bottom: 1px solid;
}

p {
        margin-bottom: 0 !important;
}

.article {
        overflow: hidden;
        margin-bottom: 8px;
}

::placeholder {
        color: white !important;
}

TEXTAREA.form-control {
        background: transparent;
        resize: none;
        border: 1px solid white;
        border-radius: 25px;
        overflow: hidden;
        height: 50px;
        padding-right: 45px;
}

TEXTAREA.form-control:focus {
        background: transparent;
}

.commentBtn {
        position: absolute;
        right: 11px;
        top: 14px;
        color: #FFFFFF99;
}

// 圖片牆

.carousel{
        width:90%;
        margin:0px auto;
}

.slick-slide{
        margin:8px;
}

.single img {
        object-fit: cover;
}