.manPic {
	width: 200px;
	background-image: url('https://s3-ap-southeast-1.amazonaws.com/www.youngme.vip/IMAGE/MAN/MAN+(8).jpg');
	background-position: center;
	background-size: 300px;
}

.manPicFrame {
	width: 200px;
	top: -22px;
	left: -22px;
	z-index: -1;
}

.womanPic {
	width: 200px;
	background-image: url('https://s3-ap-southeast-1.amazonaws.com/www.youngme.vip/IMAGE/WOMAN/WOMAN+(13).jpg');
	background-position: center;
	background-size: 200px;
}

.womanPicFrame {
	width: 200px;
	top: 22px;
	left: 22px;
	z-index: -1;
}

SECTION.fixed-bottom, UL.mobileMode A:first-child {
	border-radius: 30px;
}

UL.mobileMode A.active {
	background: #D63384;
	color: #E9ECEF;
}

.bottom13rem {
	bottom: 1.3rem;
}

@media (max-width: 321px){
	IMG {
		width: 148px;
	}
}

ARTICLE {
	width: 686px;
}