.manPic {
	width: 200px;
	background-image: url('https://s3-ap-southeast-1.amazonaws.com/www.youngme.vip/IMAGE/MAN/MAN+(3).jpg');
	background-position: center;
	background-size: 250px;
}

.manPicFrame {
	width: 200px;
	top: -22px;
	left: -22px;
	z-index: -1;
}

.womanPic {
	width: 200px;
	background-image: url('https://s3-ap-southeast-1.amazonaws.com/www.youngme.vip/IMAGE/WOMAN/WOMAN+(8).jpg');
	background-position: center;
	background-size: 250px;
}

.womanPicFrame {
	width: 200px;
	top: 22px;
	left: 22px;
	z-index: -1;
}

SECTION.fixed-bottom, UL.mobileMode A:first-child {
	border-radius: 30px;
}

UL.mobileMode A.active {
	background: #CB0C9F;
	color: #E9ECEF;
}
