@media screen and (max-width: 767px) {
	#icon {
		position: fixed;
		right: 20px;
		bottom: 20px;
		z-index: 1000;
	}
	.carousel A {
		left: 10px;
	}
}

.result IMG {
	max-width: 100%;
}

I.font40 {
	font-size: 40px !important;
}

BUTTON.fav {
	border-radius: 50%;
	color: #6C757D;
}

BUTTON.fav.liked i {
	animation: heart-grow .7s;
	color: #CB0C9F;
}

@keyframes heart-grow {
	0% {
		transform: scale(3);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

.carousel {
	position: relative;
}

.carousel A {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 40px;
	z-index: 10;
}

DIV.star {
	color: #FF8C00;
}