LI {
        display: inline-block;
}

INPUT[name="gender"] {
        display: none;
}

.form-control {
        border: none;
}

LABEL {
        border: 1px solid #F3F3F3;
        padding: 0px;
        display: block;
        position: relative;
        margin: 0px 20px;
        cursor: pointer;
}

LABEL:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        transition-duration: 0.4s;
        transform: scale(0);
}

LABEL IMG {
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
}

:checked + LABEL.male {
        border-color: #16B5D9E1;
        border-radius: 20px;
}

:checked + LABEL.male:before {
        content: "✓";
        background-color: #16B5D9FF;
        transform: scale(1);
}

:checked + LABEL.female {
        border-color: #D6338488;
        border-radius: 20px;
}

:checked + LABEL.female:before {
        content: "✓";
        background-color: #D63384EE;
        transform: scale(1);
}

:checked + label img {
        transform: scale(0.9);
        z-index: -1;
}