.carousel-cell {
        width: 100%;
        height: 120px;
        margin-right: 10px;
        background: #164353;
        border-radius: 10px;
}

.flickity-prev-next-button {
        width: 25px;
        height: 25px;
}

.tutorial {
        animation: Color 4s linear infinite;
        -webkit-animation: Color 4s ease-in-out infinite;
        text-shadow: 5px 5px #00000022;
}

@keyframes Color{
        0%{
                color: #164353;
        }
        100%{
                color: #CE796B;
        }
}